@if (ViewBag.cnt > 0)
{
<div class="card gedf-card">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.lat.Subject</h5>
        <h6 class="card-subtitle mb-2 text-muted">@ViewBag.lat.Partcipant Participants</h6>
        <p class="card-text">
            @ViewBag.lat.Description
        </p>
        <a href="~/Events/Index" class="card-link">Event link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
}

else
{
    <h3>No Events to display</h3>
}